footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}
footer span{
  font-size: 1.3vw;
}

body {
 margin: 30px;
 line-height: 1.5;
 background-color: #fff;
}

h1{
font-size:5vw;
font-weight:800;
font-family: 'Roboto', sans-serif;
}

h2{
font-size:2vw;
font-family: 'Roboto', sans-serif;

}

p{
text-align:center;
font-size:1.5vw;
font-weight:700;
font-family: 'Roboto', sans-serif;
}

.container{
width:300px;
margin: 0 auto;
margin-top:15%;
content-content: center;
}

a{
font-size:1.5vw;
font-weight:700;
font-family: 'Roboto', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.centerpara {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10px;
}

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
}

.disabled {
  opacity: 0.6;
}
.disabled:hover {
  cursor: not-allowed;
}

button{
  white-space: nowrap;
  display: inline-block;
  border-radius: 4px;
  background-color: #0caba0;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.6vw;
  padding: 20px;
  width: 400px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 5px;
  width: 25vw;
}

.buttonnext span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonnext span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonnext:hover span {
  padding-right: 25px;
}

.buttonnext:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonfade:hover {
  background-color: #107871;
  border-radius: 4px;
  width: 25vw;
}


